html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}
/* root for index.html */

:root {
    --primary-text-color: #000000;
    --secondary-text-color: #212121;
    --body-text-color: #757575;
    --title-text-color: #FFFFFF;
    --accent-color: #2196F3; 
    }
.list {
    list-style: none;
    margin: 0;
}
.font {
    font-family: Roboto;
}

/* header css */

body {
   
    margin: 0px;

    background-color: #FFFFFF;
    color: var(--body-text-color);
    text-transform: capitalize;
    
}

button {
    font-family: inherit;
}

/* page header */

.page-header {
 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;

    color: #212121; 
    text-decoration: none;
}

.page-header :hover :focus {
    color: var(--accent-color);
    text-decoration: none;

}

.page-header :visited :active {
    color: var(--accent-color);
    text-decoration: none;
        
}    

.page-nav { 
    
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;    
  
}

.page-logo {

    display: inline-block;
    width: 145px;
    margin-top: 0;

    letter-spacing: 0.03;

    text-decoration: none;
}
.page-logo-w {

    

    color: #2196F3;

    font-family: Raleway; 
    font-weight: 700;   
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.03px;

    
} 
.page-logo-s {

    color: #000000;
    font-family: Oleo Script;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.17;
}
.site-nav {

    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding: 0;

    color: var(--secondary-text-color);

}

.nav-list {
    padding: 0px;
    margin: 0px;
}

.nav-list:not(:last-child) {
    
    margin-right: 50px;
}

.link {
    text-decoration: none;
}

.link-active {
    color: var(--accent-color);
    text-decoration: none;
}


.page-contacts {

    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-top: 0;
    padding: 0;

    color: var(--body-text-color);
    text-decoration: none;
    text-transform: lowercase;
}

.page-contacts .item + .item {

    margin-left: 50px;
}

.email:hover {

    fill: var(--accent-color);
    color: var(--accent-color);
    text-decoration: none;
}

.envelope {

    width: 16px;
    height: 12px;
    fill: rgba(117, 117, 117, 1);
}

.cellphone {

    width: 10px;
    height: 16px;
    fill: rgba(117, 117, 117, 1);
}



/* Page Hero */

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;  
}

.hero {

    display: block;
    height: auto;
    margin: 0px;
    text-align: center;

    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url(../images/herophoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-button {

    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 120px;
    border-radius: 5px;    

    color: var(--title-text-color);
    background-color: var(--accent-color);
}

.hero-button:hover:focus {

    background-color: var(--title-text-color);
    cursor: pointer;
    color: var(--primary-text-color);
    
}
.hero-button :visited {
    color: #FFFFFF;
}

.hero-title {

    margin: 0 auto;
    width: 636px;

    padding-top: 120px;
    margin-right: auto;
    margin-left: auto;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

/* page info */


.info {
    height: 251px;
    margin-top: 70px;
    background-color: #FFFFFF;
}

.info-list {

    display: flex;
    flex-wrap: wrap;
    padding: 0;

}

.info-title {
    margin-top: 0;
    margin-bottom: 0;
    
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
}

.details::before {

    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/antenna\ 1.png);
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    
}

.time::before {

    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/clock\ 1.png);
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.plan::before {

    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/diagram\ 1.png);
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.tech::before {

    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-image: url(../images/astronaut\ 1.png);
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.task {
    margin: 0;
    margin-right: 20px;
    padding: 0;
    width: calc((100% - 60px)/4);
    height: 101px;
}

.task:nth-child(4n) {
    margin-right: 0px;
}

.info-subtitle {

    margin: 0;

    color: var(--body-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    text-transform: none;
    padding-right: 15px;
    margin-top: 5px;

}

/* about company */

.about {

    margin-top: 70px;
    margin-bottom: 70px;
    color: var(--secondary-text-color);
}

.about-title {
    
    margin: 0;
    margin-bottom: 30px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    text-transform: none;

}

.box {

    position: relative;

    display: inline-block;
    
    width: 370px;
    height: 294px;
    
}

.box:not(:last-child) {
    margin-right: 11px;
}

.overlay {

    display: flex;

    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    right: 0;
    width: 370px;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);

    opacity: 0;

    }

.box:hover .overlay {

    opacity: 1;
    transition: 350ms;

}

.overlay > h3 {

    text-align: center;

    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.172;
}

/* our team */

.team {
    color: var(--secondary-text-color);
    background-color: #F5F4FA;
    padding-bottom: 70px;
}

.team-title {
    
    padding-top: 70px;
    margin: 0;
    margin-bottom: 30px;

    color: var(--secondary-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    text-transform: none;

}

.team-bg {

    padding: 0;
}

.card {

    border: 1px solid #EEEEEE;
    background-color: var(--title-text-color);
}

.soc-media {

    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    
}

.media {

    position: relative;
    
} 


.media-icon {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 20px;
    height: 20px;

    fill: rgba(175, 177, 184, 1);
}

.soc-media > li {

    width: 40px;
    height: 40px;
    margin-right: 10px;
   
}


.soc-media > li:last-child {

    margin-right: 0;
}

.soc-media > li:hover {

    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;
    background-position: center;
    
    
}


.soc-media > li:hover .media-icon {

    fill: rgba(255, 255, 255, 1);
}

.cv-card {

    width: calc((100% - 90px)/4);
    height: 368px;
    margin-right: 30px;
    padding: 0;
    text-align: center;


}

.cv-card:nth-child(4n) {

    margin: 0;

}

.team-people {

    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

}

.team-role {

    margin: 0;

    color: var(--body-text-color);
}

.clients-title {

    padding-top: 70px;
    margin: 0;
    margin-bottom: 30px;

    color: var(--secondary-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.667;
    text-transform: none;
}

.client-list {

    display: flex;
    margin-bottom: 70px;
    padding: 0;

} 

.logo-svg {

    fill: rgba(175, 177, 184, 1);

    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 5%; 
}

.logo-svg:hover {

    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.client-logo:not(:last-child)  {

    margin-right: 24px;
}



/* page footer */

.footer {

    background-color: #2F303A;
}

.footer-section {

    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-bottom: 30px;
    padding-top: 30px;

    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}



.footer-logo {

    display: block;
    margin-bottom: 20px;
}

.footer-list {
    
    padding: 0;
}

.contact-list:not(:last-child) {

    margin-bottom: 10px;
}

.footer-address {
    color: var(--title-text-color)
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.join-heading {

    color: #FFFFFF;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1721;
    
}

.join {

    margin-left: 40px;
    width: 206px;
    height: 80px;
}

.social {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.social-link {

    display: block;
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;  

}

.social-link:hover {

    background-color: var(--accent-color);
}

.social-click {

    position: relative;
}

.social-link > a:before {

    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


.instagram {

    background-image: url(../images/instagram\ 2.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.twitter {

    background-image: url(../images/twitter\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.facebook {

    background-image: url(../images/facebook\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.linkedin {

    background-image: url(../images/linkedin\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}